.clap {
    position: relative;
    outline: 1px solid transparent;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: none;
    user-select: none;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50%;
        width: 79px;
        height: 79px;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid #27ae60;
        transition: border-color 0.3s ease-in;
    }

    &:hover:after {
        animation: shockwave 1s ease-in infinite;
    }

    @keyframes shockwave {
        0% {
            transform: scale(1);
            opacity: 1;
            box-shadow: 0 0 2px #27ae60;
        }

        100% {
            transform: scale(1);
            opacity: 1;
            box-shadow: 0 0 50px #145b32, inset 0 0 10px #27ae60;
        }
    }

    .count {
        position: absolute;
        top: -50px;
        left: 20px;
        font-size: 0.8rem;
        color: white;
        background: #27ae60;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .total {
        position: absolute;
        top: -22px;
        left: 0;
        font-size: 0.8rem;
        width: 80px;
        text-align: center;
        color: #bdc3c7;
    }

    .icon{
        width: 40px;
        stroke: #27ae60;
        fill: none;
        stroke-width: 2px;

        &.clicked {
            stroke: #fff;
            fill: #27ae60;
            stroke-width: 1px;
        }
    }

}
